{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Ważne informacje</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                {% for information in informations %}
                <div class="mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{information.title}}</h5>
                            <div class="card-text text-justify">{{information.content}}</div>
                            <div class="text-center fw-bolder mt-2">{{ information.date }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="mt-4 text-center">
                    <h5 class="fw-bolder">Strona</h5> {% for num_page in informations.paginator.page_range %} <a class="text-decoration-none link-secondary fw-bolder" href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mt-4">
                    <table class="table">
                        <thead class="table-dark text-center">
                            <th colspan="2">Harmonogram wydarzeń</th>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <td>
                                    {{ event.title }}
                                </td>
                                <td>
                                    {{ event.start_date }} - {{ event.end_date }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}