<h3> Witaj {{ user.username }},</h3>
Dziękuje za zarejestrowanie się na portalu internetowym Uniwersytetu Warmińsko-Mazurskiego w Olsztynie, aby kontynuować należy aktywować konto.<br>
Link do aktywowania konta: <a href="http://{{ domain }}/potwierdzenie/{{ uid }}/{{ token }}">http://{{ domain }}/potwierdzenie/{{ uid }}/{{ token }}</a>