{% extends "base.html" %}
{% block content %}
    <div class="background_container">
        <div class="d-flex justify-content-center">
            <div class="card-login rounded">
                <div class="text-center">
                    <h3 class="fw-bolder">Logowanie</h3>
                </div>
                <div class="justify-content-center px-5">
                    <form class="mt-3" method="POST" action="">
                        {% csrf_token %}
                        <div class="mt-2">
                            <input type="text" name="email" placeholder="Email..." class="form-control" required>
                        </div>
                        <div class="mt-2">
                            <input type="password" name="password" placeholder="Hasło..." class="form-control" required>
                        </div>
                        {% for message in messages %}
                            {% if message.tags == 'info' %}
                                 <div class="alert alert-primary alert-login mt-2" role="alert">
                                     {{message}}
                                 </div>
                            {% else %}
                                 <div class="alert alert-danger alert-login mt-2" role="alert">
                                     {{message}}
                                 </div>
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex justify-content-center mt-3">
                            <input class="btn btn-primary" type="submit" value="Zaloguj">
                        </div>
                    </form>
                </div>
                <div class="text-center mt-2">
                    Nie pamiętasz hasła?&nbsp<a href="{% url 'reset_password' %}" class="text-decoration-none link-custom">Zresetuj hasło</a>
                </div>
                <div class="text-center mt-2">
                    Nie masz konta?&nbsp<a href="{% url 'register' %}" class="text-decoration-none link-custom">Zarejestruj się</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}