{% extends "base.html" %}
{% block content %}
    <div class="background_container">
        <div class="d-flex justify-content-center">
            <div class="card-login rounded">
                <div class="text-center">
                    <h3 class="fw-bolder">Zmień hasło</h3>
                </div>
                <div class="justify-content-center px-5">
                    <form class="mt-3" method="POST" action="">
                        {% csrf_token %}
                            <div class="input-group mt-2">
                                {{form.new_password1}}
                            </div>
                            <div class="login-error">
                                {{form.password1.errors}}
                            </div>
                            <div class="input-group mt-2">
                                {{form.new_password2}}
                            </div>
                            <div class="login-error">
                                {{form.password2.errors}}
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <input class="btn btn-primary" type="submit" value="Zmień hasło">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Hasło...';
		form_fields[2].placeholder='Powtórz hasło...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
{% endblock %}