{% extends "base.html" %}
{% block content %}
    <div class="background_container">
        <div class="d-flex justify-content-center">
            <div class="card-login rounded">
                <div class="text-center">
                    <h3 class="fw-bolder">Zresetuj hasło</h3>
                </div>
                <div class="px-5">
                    <div class="alert alert-primary alert-login text-justify mt-2" role="alert">
                        Hasło zostało zmienione. <a href="{% url 'login' %}" class="text-decoration-none link-custom">Zaloguj</a> się na konto.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}