{% extends "base.html" %}
{% block content %}
    <div class="background_container">
        <div class="d-flex justify-content-center">
            <div class="card-login rounded">
                <div class="text-center">
                    <h3 class="fw-bolder">Zresetuj hasło</h3>
                </div>
                <div class="justify-content-center px-5">
                    <form class="mt-3" method="POST" action="">
                        {% csrf_token %}
                            <div class="input-group mt-2">
                                {{form.email}}
                            </div>
                            {{form.email.errors}}
                            <div class="d-flex justify-content-center mt-3">
                                <input class="btn btn-primary" type="submit" value="Wyślij maila">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Email...';
        form_fields[1].className += ' form-control'
	</script>
{% endblock %}