{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Dane użytkownika</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <div class="mt-2 card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{user_data.username}}</h5>
                                <img src="{{user_data.profile_picture.url}}" alt="brak" class="img-thumbnail"><br>
                                Data założenia konta<br>
                                {{ user_data.date_joined }}
                            </div>
                        </div>
                        <div class="card" style="flex-grow: 3">
                            <div class="card-body">
                                <h5 class="card-title">{{user_data.description}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}