{% extends "base.html" %}
{% block content %}
    <div class="background_container">
        <div class="d-flex justify-content-center">
            <div class="card-login rounded">
                <div class="text-center">
                    <h3 class="fw-bolder">Rejestracja</h3>
                </div>
                <div class="justify-content-center px-5">
                    <form class="mt-3" method="POST" action="">
                        {% csrf_token %}
                            <div class="input-group mt-2">
                                {{form.username}}
                            </div>
                            <div class="login-error">
                                {{form.username.errors}}
                            </div>
                            <div class="input-group mt-2">
                                {{form.email}}
                            </div>
                            <div class="login-error">
                                {{form.email.errors}}
                            </div>
                            <div class="input-group mt-2">
                                {{form.password1}}
                            </div>
                            <div class="login-error">
                                {{form.password1.errors}}
                            </div>
                            <div class="input-group mt-2">
                                {{form.password2}}
                            </div>
                            <div class="login-error">
                                {{form.password2.errors}}
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <input class="btn btn-primary" type="submit" value="Zarejestruj">
                            </div>
                    </form>
                </div>
                <div class="text-center mt-2">
                    Masz konto?&nbsp<a href="{% url 'login' %}" class="text-decoration-none link-custom">Zaloguj</a>
                </div>
            </div>
        </div>
    </div>
    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Nazwa użytkownika...';
		form_fields[2].placeholder='Email...';
		form_fields[3].placeholder='Hasło...';
		form_fields[4].placeholder='Powtórz hasło...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
{% endblock %}