{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Zmień dane</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group mt-2">
                                Nazwa użytkownika{{form.username}}
                            </div>
                            {{form.username.errors}}
                            <div class="form-group mt-2">
                                Opis{{form.description}}
                            </div>
                            {{form.description.errors}}
                            <div class="form-group mt-2">
                                Zdjęcie profilowe<br>
                                {{form.profile_picture}}
                            </div>
                            {{form.profile_picture.errors}}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                     <div class="alert alert-primary mt-2" role="alert">
                                         {{message}}
                                     </div>
                                {% else %}
                                     <div class="alert alert-danger mt-2" role="alert">
                                         {{message}}
                                     </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group mt-2">
                                <input type="submit" class="btn-primary" value="Zmień dane">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}