.card-login{
    background-color: #4682B4;
    padding: 10px;
    width: 400px;
    margin-top: 30vh;
}
.card{
   background-color: #4682B4;
}

.container{
    padding-bottom: 5%;
}

.alert-login{
    width: 285px;
}

.login-error{
    width: 285px;
}

body{
    background-color: #B0C4DE;
    height: 100%;
    width: 100%;
}

.navabar-custom{
    background-color: #4682B4;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:4%;
    background-color: #4682B4;
    color: #212529;
    text-align: center;
}
.background_container{
    background-image: url('../image/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
}

.margin_top{
    margin-top: 10em;
}

.text-justify{
    text-align: justify;
}

.link-custom{
    color: #203c52;
}

.link-custom:hover{
    color: #152736;
}

.hide{
    display: none;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
}

.comment-area input{
    float: right;
}

.comment button{
    float:left;
}

.comment-area{
    margin-bottom:2%;
}

.ml-xl-4 {
    margin-left: 4%;
}
.mt-6 {
    margin-top: 5rem !important;
}