{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Dodaj opinie</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <form method="POST" action="">
                        {% csrf_token %}
                            <div class="form-group mt-2">
                                Treść opini{{form.content}}
                            </div>
                            {{form.content.errors}}
                            <div class="form-group mt-2">
                                Kierunek{{form.fields}}
                            </div>
                            {{form.fields.errors}}
                            <div class="form-group mt-2">
                                <input type="submit" class="btn-primary" value="Dodaj opinie">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}