{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Opinie</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>Kierunek</th>
                            <th>Liczba opini</th>
                            <th>Ostatnia aktywność</th>
                        </thead>
                        <tbody class="table-primary">
                            {% for field in fields %}
                            <tr>
                                <td>
                                    <a class="text-decoration-none link-secondary fw-bolder" href="{{field.get_url}}">{{field.name}}</a>
                                </td>
                                <td>
                                    {{field.num_opinions}} opini
                                </td>
                                <td>
                                {% if field.num_opinions > 0 %}
                                    Ostatnia opinia dodana przez&nbsp<a class="text-decoration-none link-secondary fw-bolder" href="{{field.last_opinion.user.get_url}}">{{field.last_opinion.user}}</a>
                                    <br>w dniu {{field.last_opinion.date|date}}
                                {% else %}
                                    Brak ostatniej aktywności
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <h5 class="fw-bolder">Strona</h5> {% for num_page in fields.paginator.page_range %} <a class="text-decoration-none link-secondary fw-bolder" href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}