{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3><a class="text-decoration-none link-secondary fw-bolder" href="{% url 'fields' %}">Opinie</a> >> <a class="text-decoration-none link-secondary fw-bolder" href="#">{{field}}</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                {% for message in messages %}
                    <div class="alert alert-primary mt-2 " role="alert">
                        {{message}}
                    </div>
                {% endfor %}
                    {% for opinion in opinions %}
                    <div class="mt-4 card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none link-dark fw-bolder" href="{{ opinion.user.get_url }}">{{opinion.user}}</a></h5>
                                <img src="{{opinion.user.profile_picture.url}}" alt="brak" class="img-thumbnail">
                            </div>
                            {{ opinion.date }}
                        </div>
                        <div class="card" style="flex-grow: 3">
                            <div class="card-body">
                                <p class="card-text text-justify">{{opinion.content}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}