{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Kontakt</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <form method="POST" action="">
                        {% csrf_token %}
                            <div class="form-group mt-2">
                                Temat{{form.subject}}
                            </div>
                            {{form.subject.errors}}
                            <div class="form-group mt-2">
                                Treść wiadomości{{form.message}}
                            </div>
                            {{form.message.errors}}
                            {% for message in messages %}
                                <div class="alert alert-primary mt-2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                            <div class="form-group mt-2">
                                <input type="submit" class="btn-primary" value="Wyślij wiadomość">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}