{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/forum.js' %}"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top navabar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'information' %}">Portal Studencki UWM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" ><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'information' %}">Strona główna</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-bs-toggle="dropdown">Forum</a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'forum' %}">Forum</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_post' %}">Dodaj post</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-bs-toggle="dropdown">Opinie</a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'fields' %}">Opinie</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create_opinion' %}">Dodaj opinie</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'update' %}">Edytuj dane</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav me-2">
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                                Witaj, {{request.user}}
                                <a class="link-custom text-decoration-none" href="{% url 'logout' %}">Wyloguj się</a>
                            {% else %}
                                <a class="nav-link text-decoration-none" href="{% url 'login' %}">Zaloguj się</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer class="footer">
            <p>Portal internetowy UWM przygotowany na pracę inżynierską. Mateusz Białek &copy2022</p>
        </footer>
    </body>
</html>