{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Dodaj post</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <form method="POST" action="">
                        {% csrf_token %}
                            <div class="form-group mt-2">
                                Tytuł{{form.title}}
                            </div>
                            {{form.title.errors}}
                            <div class="form-group mt-2">
                                Treść posta{{form.content}}
                            </div>
                            {{form.content.errors}}
                            <div class="form-group mt-2">
                                Kategoria{{form.categories}}
                            </div>
                            {{form.categories.errors}}
                            {% for message in messages %}
                                <div class="alert alert-danger mt-2" role="alert">
                                     {{message}}
                                </div>
                            {% endfor %}
                            <div class="form-group mt-2">
                                <input type="submit" class="btn-primary" value="Zadaj pytanie">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}