{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3><a class="text-decoration-none link-secondary fw-bolder" href="{% url 'forum' %}">Forum</a> >> <a class="text-decoration-none link-secondary fw-bolder" href="{{post.categories.get_url}}">{{post.categories}} </a> >> <a class="text-decoration-none link-secondary fw-bolder" href="{{post.get_url}}">{{post.title}}</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-primary mt-2 " role="alert">
                        {{message}}
                    </div>
                    {% else %}
                    <div class="alert alert-danger mt-2" role="alert">
                         {{message}}
                    </div>
                    {% endif %}
                {% endfor %}
                    <div class="mt-2 card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none link-dark fw-bolder" href="{{post.user.get_url}}">{{post.user}}</a></h5>
                                <img src="{{post.user.profile_picture.url}}" alt="brak" class="img-thumbnail">
                            </div>
                            {{ post.date }}
                        </div>
                        <div class="card" style="flex-grow: 3">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text text-justify">{{post.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="comment" id="comment">
                                <button onclick="showComment()">Skomentuj</button>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="comment-area hide" id="comment-area">
                                    <textarea class="form-control" name="comment" placeholder="Napisz komentarz... "></textarea>
                                    <input type="submit" value="Wyślij" name="comment-form">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for comment in post.comments.all %}
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <div class="mt-2 card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none link-dark fw-bolder" href="{{comment.user.get_url}}">{{comment.user}}</a></h5>
                                <img src="{{comment.user.profile_picture.url}}" alt="brak" class="img-thumbnail">
                            </div>
                            {{ comment.date }}
                        </div>
                        <div class="card" style="flex-grow: 3">
                            <div class="card-body">
                                <p class="card-text text-justify">{{comment.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="comment" id="reply{{comment.id}}">
                                <button onclick="showReplies('comment{{comment.id}}')">Odpowiedz</button>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="comment-area hide" id="comment{{comment.id}}">
                                    <textarea class="form-control" name="reply" id="" placeholder="Napisz komentarz tutaj... "></textarea>
                                    <input type="submit" value="Wyślij" name="reply-form">
                                    <input type="hidden" name="comment-id" value="{{comment.id}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for reply in comment.replies.all %}
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <div class="mt-2 ml-xl-4 card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="text-decoration-none link-dark fw-bolder" href="{{reply.user.get_url}}">{{reply.user}}</a></h5>
                                <img src="{{reply.user.profile_picture.url}}" alt="brak" class="img-thumbnail">
                            </div>
                            {{ reply.date }}
                        </div>
                        <div class="card" style="flex-grow: 3">
                            <div class="card-body">
                                <p class="card-text text-justify">{{reply.content|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}