{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3 class="fw-bolder">Forum</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>Dziedzina</th>
                            <th>Liczba postów</th>
                            <th>Ostatnia aktywność</th>
                        </thead>
                        <tbody class="table-primary">
                            {% for category in categories %}
                            <tr>
                                <td>
                                    <a class="text-decoration-none link-secondary fw-bolder" href="{{category.get_url}}">{{category.title}}</a>
                                    <p>Opis: {{category.description}}</p>
                                </td>
                                <td>
                                    {{category.num_posts}} posty
                                </td>
                                <td>
                                {% if category.num_posts > 0 %}
                                    <a class="text-decoration-none link-secondary fw-bolder" href="{{category.last_post.get_url}}">Ostatni post </a>utworzony przez:&nbsp<a class="text-decoration-none link-secondary fw-bolder" href="{{ category.last_post.user.get_url }}">{{category.last_post.user}}</a>
                                    <br>w dniu {{category.last_post.date|date}}
                                {% else %}
                                    Brak ostatniej aktywności
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}