<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-6 text-center">
                    <h3><a class="text-decoration-none link-secondary fw-bolder" href="{% url 'forum' %}">Forum</a> >> <a class="text-decoration-none link-secondary fw-bolder" href="{{category.get_url}}">{{category.title}}</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>Tematy</th>
                            <th>Utworzono</th>
                            <th>Liczba komentarzy</th>
                        </thead>
                        <tbody class="table-primary">
                            {% for post in posts %}
                            <tr>
                                <td>
                                    <a class="text-decoration-none link-secondary fw-bolder" href="{{post.get_url}}">{{post.title}}</a>
                                </td>
                                <td>
                                    {{post.date|date}}
                                    <br>Autor: <b><a class="text-decoration-none link-secondary fw-bolder" href="{{ post.user.get_url }}">{{post.user}}</a></b>
                                </td>
                                <td>
                                    {{ post.num_comments }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-4 text-center">
                    <h5 class="fw-bolder">Strona</h5> {% for num_page in posts.paginator.page_range %} <a class="text-decoration-none link-secondary fw-bolder" href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}